P.alert {
	MARGIN-TOP: -1em; FONT-WEIGHT: bold; MARGIN-BOTTOM: -0.3em; MARGIN-LEFT: 1.5em
}
TABLE.web {
	MARGIN-TOP: 1em; FONT-SIZE: 150%; MARGIN-BOTTOM: 1em
}
TH.web {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.45em; BACKGROUND: #dddddd; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: bottom; PADDING-TOP: 0.2em; TEXT-ALIGN: left
}
TR.web {
	VERTICAL-ALIGN: top
}
TD.web {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.45em; BACKGROUND: #eeeeee; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: top; PADDING-TOP: 0.2em
}
OL.web {
	PADDING-LEFT: 0em; MARGIN: 0.5em 2.1em 0px
}
UL.web {
	PADDING-LEFT: 0em; MARGIN: 0.6em 1.5em 0px; LIST-STYLE-TYPE: disc
}
LI.web {
	CLEAR: both; MARGIN-BOTTOM: 0.7em
}
IMG.overview {
	MARGIN-TOP: 0px
}
#book_icon {
	Z-INDEX: -1; LEFT: 0px; POSITION: absolute; TOP: 0px
}
TABLE.footer {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em
}
TD.footer {
	PADDING-RIGHT: 0.1em; MARGIN-TOP: 0px; PADDING-LEFT: 0.3em; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0.3em; VERTICAL-ALIGN: top; PADDING-TOP: 0.1em; BACKGROUND-COLOR: #ffffff
}
A.foot:link {
	MARGIN-TOP: 0.1em; FONT-SIZE: 350%; CURSOR: hand; COLOR: #000099; TEXT-DECORATION: none
}
A.foot:visited {
	MARGIN-TOP: 0.1em; FONT-SIZE: 350%; CURSOR: hand; COLOR: #000099; TEXT-DECORATION: none
}
SPAN.foot {
	MARGIN-TOP: 0.1em; FONT-SIZE: 350%; CURSOR: hand; COLOR: #000099; TEXT-DECORATION: none
}
A.foot:hover {
	MARGIN-TOP: 0.1em; FONT-SIZE: 350%; CURSOR: hand; COLOR: #cc3333; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.foot:active {
	MARGIN-TOP: 0.1em; FONT-SIZE: 350%; CURSOR: hand; COLOR: #cc3333; TEXT-DECORATION: none
}
.start_background {
	Z-INDEX: -1; LEFT: 0px; POSITION: absolute; TOP: 24px
}
P.start_links {
	FONT-WEIGHT: bold; MARGIN: -0.2em 0em 1.3em 0.1em; COLOR: #336699
}
P.start_title {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 0em; COLOR: #990033; FONT-FAMILY: Verdana, Arial, Sans Serif
}
P.start_body {
	MARGIN: 1em 0em 0em
}
P.start_copyright {
	FONT-SIZE: 85%; MARGIN: 0em
}
#start_copyright {
	LEFT: 189px; WIDTH: 259px; POSITION: absolute; TOP: 385px
}
A.start_copyright:link {
	COLOR: #990033; TEXT-DECORATION: none
}
A.start_copyright:visited {
	COLOR: #990033; TEXT-DECORATION: none
}
A.start_copyright:active {
	COLOR: #990033; TEXT-DECORATION: none
}
A.start_copyright:hover {
	CURSOR: hand; COLOR: blue; TEXT-DECORATION: underline
}
P.start2_title {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0em; COLOR: #990033; FONT-FAMILY: Verdana, Arial, Sans Serif
}
P.start2_head {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.4em; MARGIN-LEFT: 0em; COLOR: #990033
}
P.start2_head_link {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 0.4em; MARGIN-LEFT: 0em; COLOR: #990033
}
P.start2_body {
	MARGIN-TOP: 0em; FONT-WEIGHT: normal; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0em
}
A.start2_copyright:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.start2_copyright:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.start2_copyright:active {
	COLOR: #336699; TEXT-DECORATION: none
}
A.start2_copyright:hover {
	CURSOR: hand; COLOR: #990033; TEXT-DECORATION: underline
}
P.start2_copyright {
	MARGIN-TOP: 0em; FONT-SIZE: 85%; MARGIN-BOTTOM: 0em; MARGIN-LEFT: 0em
}
HR.start2 {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; COLOR: #990033
}
P.start_feedback {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0em; MARGIN-LEFT: 0em
}
A.start_feedback:link {
	COLOR: #336699; TEXT-DECORATION: none
}
A.start_feedback:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.start_copyright:active {
	COLOR: #336699; TEXT-DECORATION: none
}
A.start_feedback:hover {
	CURSOR: hand; COLOR: #990033; TEXT-DECORATION: underline
}
P.notepara {
	MARGIN-LEFT: 1.3em
}
P.importantpara {
	MARGIN-LEFT: 1.3em
}
P.cautionpara {
	MARGIN-LEFT: 1.3em
}
P.warningpara {
	MARGIN-LEFT: 1.3em
}
P.tippara {
	MARGIN-LEFT: 1.3em
}
P.rtlabel {
	CLEAR: both; MARGIN-TOP: 1.2em; FONT-WEIGHT: bold; MARGIN-BOTTOM: -0.2em
}
P.rticon {
	MARGIN-BOTTOM: 0px
}
P.rtlink {
	MARGIN-TOP: -1.4em; MARGIN-LEFT: 1.4em
}
